.card_list{
    padding: 5px;
    margin: 5px;
    background: black;
    color: #fff;
    min-width: 20rem !important;
    
}
.thumbnail{
    width: 100%;
    height: 300px;
    object-fit: cover;
}